html, body {
  background: $gray;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.ember-view {
  height: 100%;
}

.sidebar {
  @include grid-column(2, $collapse: true);
  height: 100%;
  background: $blue;
  color: white;
  padding: 0;

  h1 {
    font-size: rem-calc(20px);
    margin: 0;

    @media #{$medium-up} {
      background: darken($blue, 4%);
      border-bottom: solid 1px darken($blue, 10%);
    }

    @media #{$small-only} {
      @include grid-column(12, $collapse: true);
      text-align: center;
    }
  }

  a {
    color: white;
    display: block;
    padding: rem-calc(20px);

    @media #{$small-only} {
      padding: rem-calc(20px 0);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;

    @media #{$small-only} {
      position: absolute;
      right: rem-calc(15px);
      top: 0;
    }
  }

  @media #{$small-only} {
    @include grid-column(12);
    height: auto;
  }
}

.content {
  @include grid-column(10);
  height: 100%;
  overflow-y: scroll;

  @media #{$small-only} {
    @include grid-column(12);
    overflow-y: visible;
  }
}
