<div class="goal new">
  <form {{action "save" on="submit"}}>
    <div class="inner">
      {{input value=newGoal.name class="name" placeholder="Goal name" required="true"}}
      {{input value=newGoal.target class="target" placeholder="Goal target" required="true"}}
    </div>

    <input type="submit" value="Save" class="button expand">
  </form>
</div>
